<%= bootstrap_form_for @request, :html => { :multipart => true } do |f| %>



  <div class="control-group">
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', :style => 'width: 500px; display: inline-block; height: 36px; vertical-align: middle;'  %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>


    <%= f.fields_for @request.gallery do |ff| %>

        <div class="control-group">
      <div class="controls">

        <%= ff.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= ff.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= ff.label :pictures, :class => 'control-label' %>
      <div class="controls">
        <!-- The magic is coming ...look at my eyes....shazammmm -->
        <%= f.file_field :data, :id => 'image_upload'  %>

        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>

    <% end %>


    <div class="form-actions">
    <%= f.submit nil, :class => 'button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requests_path, :class => 'button' %>
  </div>
<% end %>
