<%- model_class = Request -%>


<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= form_tag requests_path, :method => "get" do %>
      <div class="span3">

      </div>
      <div class="span2 search-query search-query-rounded" style="display: inline-block">

        <%= text_field_tag :search, params[:search], placeholder: "Search Offers",
                           :style => 'width: 500px; display: inline-block; height: 36px; vertical-align: middle;' %>
        <%= button_tag("Search", type: 'submit', class: "btn btn-primary") do %>
            <span class="glyphicon glyphicon-search"> </span> Search
        <% end %></div>
  <% end %>

</div>




<table class="table table-striped">

  <tbody>
   <!--paginate @requests -->

  <% @requests.each do |request| %>
      <tr>
        <td>
          <div class="navlogo">

          </div>
          <%= link_to request.user.name %></td>

        <td><%= link_to request.title, request_path(request) %></td>
        <td><%= request.created_at.strftime("%H:%M %b %d") %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_request_path(request), :class => 'button button-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      request_path(request),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'button button-mini button-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @requests, renderer: BootstrapPagination::Rails %>

<%= button_to new_request_path, class: "btn btn-large primary", :method => :get do %>
    New Request <i class="glyphicon glyphicon-plus"></i>



<% end %>
<div class="control-group huge">
  <div class="input-append">
    <input class="span2" id="appendedInputButton-01" type="text" placeholder="Search">
    <button class="btn btn-huge" type="button"><span class="fui-search"></span></button>
  </div>
</div>

<div class="input-append">
  <input type="text" class="span2 huge search-query search-query-rounded" placeholder="Search" id="search-query-5">
  <button type="submit" class="btn btn-huge"><span class="fui-search"></span></button>
</div>

<div class="control-group">
  <div class="input-prepend input-datepicker">
    <button type="button" class="btn"><span class="fui-calendar"></span></button>
    <input type="text" class="span2 hasDatepicker" value="14 March, 2013" id="datepicker-01">
  </div>
</div>


