<%- model_class = Request -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @request.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @request.description %></dd>
</dl>


<div class="row">
  <ul class="thumbnails files">
        <% @request.gallery.pictures.each do |pic| %>
            <li class="span3" id="picture_<%= pic.id %>">
              <div class="thumbnail">
                <%= image_tag pic.image.url %>
                <div class="caption">
                  <p style="text-align: center;">
                    <%= link_to "Edit", picture_path(pic) %>

                    <%=
                        link_to "Delete", pic,
                                :data => { :confirm => "Are you sure?" },
                                :method => :delete
                    %>

                  </p>
                </div>
              </div>
            </li>
        <% end %>
  </ul>
</div>
<div class="form-actions">
  <% if @request.user != current_user %>
  <%= link_to "Reply",
              new_message_path(:request => @request.id), :class => 'btn'  %>
  <% end %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              requests_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_request_path(@request), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              request_path(@request),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
