

<%- model_class = Offer -%>






<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= form_tag offers_path, :method => "get" do %>

      <div class="span3">

      </div>
      <div class="span2 search-query search-query-rounded" style="display: inline-block">

        <%= text_field_tag :search, params[:search], placeholder: "Search Offers",
                           :style => 'width: 500px; display: inline-block; height: 36px; vertical-align: middle;'%>
        <%= button_tag("Search", type: 'submit', class: "btn btn-primary") do %>
             <span class="glyphicon glyphicon-search"> </span> Search
        <% end %></div>  <% end %>

</div>

<table class="table table-striped">
  <thead>

  </thead>
  <tbody>


  <% @offers.each do |offer| %>
      <tr>

        <td>
          <div class="navlogo">

          </div>
          <%= link_to offer.user.name %></td>
        <td><%= link_to offer.title, offer_path(offer) %></td>
        <td><%= offer.created_at.strftime("%H:%M %b %d") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_offer_path(offer), :class => 'button' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      offer_path(offer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'button' %>
        </td>
      </tr>
    <% end %>


  </tbody>
</table>

<%= button_to new_offer_path, class: "btn btn-large primary", :method => :get  do %>
    New Offer <i class="glyphicon glyphicon-plus"></i>
<% end %>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

