<!DOCTYPE html>
<html>
<head>
  <title>GoFavorIt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://i.icomoon.io/public/temp/4d3f767796/UntitledProject2/style.css">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">

    <div class="pull-left ">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:130px; margin-top: -7px;"
             src="/images/gofavorit-green.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favors... <b class="caret"></b></a>
          <ul class="btn-group select select-block mbl">
            <li><%= link_to "View Offers", offers_path %></li>
            <li><%= link_to "Add Offer", new_offer_path %></li>
            <li><%= link_to "View Requests", requests_path %></li>
            <li><%= link_to "Add Request", new_request_path %></li>
          </ul>
        </li>
        <li><%= link_to "Inbox", conversations_path %>

          <% if user_signed_in? && current_user.mailbox.inbox({:read => false}).count > 0 %>

          <span class="navbar-new">
              <%=  current_user.mailbox.inbox({:read => false}).count%>
          </span></li>

            <% end  %>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><a href="#">Help</a></li>
        <% if user_signed_in? %>
            <li class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>      </ul>


      <% if user_signed_in? %>

          <%= current_user.try(:email) %>

          <div style="margin-left: 5px" class="navlogo">

          </div>


      <% end %>

      <form class="navbar-form navbar-right">
        <%= form_tag(offers_path, :method => :get) do %>
            <%= text_field_tag :search, nil,
                               {:id => "search-query-2", :placeholder => "Search offers..."} %>
            <%= hidden_field_tag :use_keywords, "true" %>
            <%= hidden_field_tag :wide_search, "true" %>
        <% end %>
      </form>
    </div>
  </div>
  <div id="headerbar2">
  </div>

</nav>

<div style="padding-top: 60px; ">

</div>

  <!--<div class="logo page-header">-->

<!--</div>-->
<div class="headerbar2">
  <p class="alert alert-success"><%= notice %></p>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<div class="col-sm-3 col-md-2 sidebar-offcanvas well" id="sidebar" role="navigation">
  <ul class="nav nav-list">
    <li class="nav-header">Categories</li>
    <li><%= link_to "Edit profile", requests_path %></li>
    <li><%= link_to "Carpooling", offers_path %></li>
    <li><%= link_to "Tutoring", requests_path %></li>
    <li><%= link_to "Art", conversations_path %></li>
    <li><%= link_to "Career", conversations_path %></li>
    <li><%= link_to "Delivery", conversations_path %></li>
    <li><%= link_to "Learning", conversations_path %></li>
    <li><%= link_to "Labor", requests_path %></li>
    <li><%= link_to "Carpooling", offers_path %></li>
    <li><%= link_to "Tutoring", requests_path %></li>
    <li><%= link_to "Art", conversations_path %></li>
    <li><%= link_to "Career", conversations_path %></li>
    <li><%= link_to "Delivery", conversations_path %></li>
    <li><%= link_to "Learning", conversations_path %></li>


  </ul>

</div>


<div class="col-sm-9 col-md-10 main">
  <%= yield :scripts %>
  <%= yield %>

</div>

<footer>
  <p class="pull-right">©2014 Lunar FX</p>
</footer>

</body>
</html>
