
<!DOCTYPE html>
<html>
<head>
  <title>GoFavorIt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://i.icomoon.io/public/temp/4d3f767796/UntitledProject2/style.css">
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>


<div style="padding-top: 60px; ">

</div>

<!--<div class="logo page-header">-->

<!--</div>-->
<div class="headerbar2">
  <p class="alert alert-success"><%= notice %></p>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<div class="col-sm-3 col-md-2 sidebar-offcanvas well" id="sidebar" role="navigation">
  <ul class="nav nav-list">
    <li class="nav-header">Categories</li>
    <li><%= link_to "Carpooling", offers_path %></li>
    <li><%= link_to "Tutoring", requests_path %></li>
    <li><%= link_to "Art", conversations_path %></li>
    <li><%= link_to "Career", conversations_path %></li>
    <li><%= link_to "Delivery", conversations_path %></li>
    <li><%= link_to "Learning", conversations_path %></li>
    <li><%= link_to "Carpooling", offers_path %></li>
    <li><%= link_to "Tutoring", requests_path %></li>
    <li><%= link_to "Art", conversations_path %></li>
    <li><%= link_to "Career", conversations_path %></li>
    <li><%= link_to "Delivery", conversations_path %></li>
    <li><%= link_to "Learning", conversations_path %></li>



  </ul>

</div>


<div class="col-sm-9 col-md-10 main">
  <%= yield :scripts %>
  <%= render 'layouts/messages' %>

  <%= yield %>

</div>


<footer>
  <p class="pull-right">©2014 Lunar FX</p>
</footer>

</body>
</html>

